
@font-face {
  font-family: 'PTSans-Narrow';
  src: url('../font/PTSans-Narrow/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),  
       url('../font/PTSans-Narrow/PTSans-Narrow.woff') format('woff'), 
	   url('../font/PTSans-Narrow/PTSans-Narrow.ttf')  format('truetype'), 
	   url('../font/PTSans-Narrow/PTSans-Narrow.svg#PTSans-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-NarrowBold';
  src: url('../font/PTSans-NarrowBold/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),  
       url('../font/PTSans-NarrowBold/PTSans-NarrowBold.woff') format('woff'), 
	   url('../font/PTSans-NarrowBold/PTSans-NarrowBold.ttf')  format('truetype'), 
	   url('../font/PTSans-NarrowBold/PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../font/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  
      url('../font/BebasNeueRegular/BebasNeueRegular.otf')  format('opentype'),
	  url('../font/BebasNeueRegular/BebasNeueRegular.woff') format('woff'), 
	  url('../font/BebasNeueRegular/BebasNeueRegular.ttf')  format('truetype'), 
	  url('../font/BebasNeueRegular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue-Thin';
  src: url('../font/BebasNeue-Thin/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),  
       url('../font/BebasNeue-Thin/BebasNeue-Thin.otf')  format('opentype'),
	   url('../font/BebasNeue-Thin/BebasNeue-Thin.woff') format('woff'), 
	   url('../font/BebasNeue-Thin/BebasNeue-Thin.ttf')  format('truetype'), 
	   url('../font/BebasNeue-Thin/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueLight';
  src: url('../font/BebasNeueLight/BebasNeueLight.eot?#iefix') format('embedded-opentype'),  
       url('../font/BebasNeueLight/BebasNeueLight.otf')  format('opentype'),
	   url('../font/BebasNeueLight/BebasNeueLight.woff') format('woff'), 
	   url('../font/BebasNeueLight/BebasNeueLight.ttf')  format('truetype'), 
	   url('../font/BebasNeueLight/BebasNeueLight.svg#BebasNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../font/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  
       url('../font/BebasNeueBold/BebasNeueBold.otf')  format('opentype'),
       url('../font/BebasNeueBold/BebasNeueBold.woff') format('woff'), 
	   url('../font/BebasNeueBold/BebasNeueBold.ttf')  format('truetype'), 
	   url('../font/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}





