.wraper{
	width:100%;
	max-width:2200px;
	min-width:1180px;
	margin:0 auto;
	overflow:hidden;
}
.radius{
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}
.content{
	width:1180px;
	margin:0 auto;
}
.fon-block{
	width:100%;
	height:774px;
	background:url(../img/fon.jpg) center top no-repeat;
}
header{
	width:100%;
	height:112px;
	background:rgba(0,0,0,0.27);
}
.logo{
	display:flex;
	float:left;
	margin-top:31px;
}
header .adres{
	float:left;
	padding-left:25px;
	background:url(../img/marker.png) left center no-repeat;
	font:21.5px/30px 'PTSans-Narrow';
	color:#FFFFFF;
	margin-top:41px;
	margin-left:171px;
}
header .tel{
	float:left;
	padding-left:24px;
	background:url(../img/tel.png) left center no-repeat;
	font:30px/30px 'BebasNeueBold';
	color:#FFFFFF;
	margin-top:41px;
	margin-left:65px;
}
 .tel span{
	font-family: 'BebasNeueRegular';
}
header .ring{
	float:right;
	display:block;
	height:43px;
	width:171px;
	margin-top:33px;
	font:20px/43px 'BebasNeueRegular';
	color:#FFFFFF;
	text-align:center;
	background:#18c2e1;
}
.ring:hover{
	background:#1898e1
}
section{
	height:661.97px;
}
.section_cont{
	width:100%;
	height:332px;
	margin-top:158px;
}
.left_cont{
	float:left;
	width:646px;
}
.s-zag{
	float:left;
	padding-left:54px;
	font:78.59px/55.9px 'BebasNeueBold';
	color:#e39025;
	margin-top:80px;
}
.s-zag span{
	display:inline-block;
	font:102.79px/93px 'BebasNeueLight';
	color:#FFFFFF;
}
.section_cont form{
	float:right;
	width:380px;
	height:331px;
	background:#FFFFFF;
	padding:0px 33px;
	box-sizing:border-box;
}
.form-zag{
	width:100%;
	font:36px/24px 'BebasNeueBold';
	color:#000011;
	text-align:center;
	margin-top:32px;
	margin-bottom:26px;
}
.form-zag span{
	font:22px/24px 'BebasNeueRegular';
}
.section_cont input{
	width:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.section_cont input[type='text']{
	height:47px;
	margin-bottom:6px;
	background:#ebebeb;
	padding-left:20px;
	font:18px/24px 'PTSans-Narrow';
	color:#000011;
	box-sizing:border-box;
	}
.section_cont input[type='submit']{
	background:#18c2e1;
	height:53px;
	border-bottom:4px solid #1a9eb6;
	font:22px/30px 'BebasNeueBold';
	color:#fff;
	margin-top:26px;
	cursor:pointer;
}
.section_cont input[type='submit']:hover{
	background:#1898e1;
	border-color:#1b85c1;
	}
footer{
	height:255px;
}
.footer_top{
	width:100%;
	height:196px;
	background:url(../img/footer_top.jpg) center no-repeat;
}
.footer_top .block{
	width:50%;
	color:#fff;
	height:196px;
	box-sizing:border-box;
}
.left_block{
	float:left;
	padding-left:100px;
	background:url(../img/icon1.png) left 42px no-repeat;
}
.right_block{
	float:right;
	padding-left:144px;
	background:url(../img/icon2.png) 38px 42px no-repeat;
}
.block h3{
	width:100%;
	font:42.03px/30px 'BebasNeueBold';
	color:#fff;
	margin-top:45px;
}
.block p{
	width:100%;
	font:16px/24px 'PTSans-Narrow';
	margin-top:10px;
}
.footer_bottom{
	height:59px;
	background:#4e4c56;
}
.footer_bottom p{
	height:59px;
	line-height:59px;
}
.footer_bottom .adres{
	    float: left;
    padding-left: 25px;
    background: url(../img/marker.png) left center no-repeat;
    font: 21.5px/59px 'PTSans-Narrow';
    color: #FFFFFF;
}
.footer_bottom .tel {
    float: left;
    padding-left: 24px;
    background: url(../img/tel.png) left center no-repeat;
    font: 30px/59px 'BebasNeueBold';
    color: #FFFFFF;
    margin-left: 65px;
}
.footer_bottom a{
	float:right;
	font:24px/59px 'BebasNeueRegular';
	color:#18c2e1;
	text-decoration:underline;
}
.footer_bottom a:hover{color:#1898e1}